stages:
  - test_and_quality
  - build
  - deploy

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  APT_CACHE_DIR: "$CI_PROJECT_DIR/.cache/apt"
  PIP_DEFAULT_TIMEOUT: 60

cache:
  paths:
    - .cache/pip
    - .cache/apt

.base_setup:
  image: python:3.9-bookworm
  before_script:
    - apt-get update && apt-get install -y libgl1 openssh-client git
    - pip install '.[docs,linting,user,measurement_setup]'
    - pip install git+https://gitlab-ci-token:${CI_JOB_TOKEN}@${QCODES_CONTRIB_DRIVERS_REPOSITORY}
    - pip install git+https://gitlab-ci-token:${CI_JOB_TOKEN}@${VC707_PYTHON_INTERFACE_REPOSITORY}
    - pip install git+https://gitlab-ci-token:${CI_JOB_TOKEN}@${DEVICE_DB_CLIENT_REPOSITORY}
    - pip install git+https://gitlab-ci-token:${CI_JOB_TOKEN}@github.com/pyGSTio/pyGSTi.git
    - eval $(ssh-agent -s)
    - echo "$DOC_PRIVATE_SSH_KEY" | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $GIT_LAB_ADDRESS $DOC_URL >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts

pytest:
  extends: .base_setup
  stage: test_and_quality
  script:
    - pip install '.[test]'
    - pytest --cov=pycqed -m "not hardware" pycqed/tests
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

codequality:
  extends: .base_setup
  stage: test_and_quality
  script:
    - pip install mypy mypy-gitlab-code-quality
    - mypy pycqed --no-error-summary > pycqed-mypy.txt || true
    - mypy-gitlab-code-quality < pycqed-mypy.txt > pycqed-codequality.json 
  artifacts:
    reports:
      codequality: pycqed-codequality.json

pages:
  extends: .base_setup
  stage: build
  script:
    - cd docs
    - make html
    - cd ..
    - mv docs/build/html public
  artifacts:
    paths:
      - public
#  only:
#    - qudev_master
#    - /^Proj\/.*$/
#    - /^doc\/.*$/

deploy_docs:
  extends: .base_setup
  stage: deploy
  script:
    - DOC_UPLOAD_FOLDER=${CI_PROJECT_PATH:6}/$CI_COMMIT_BRANCH
    - ssh ${DOC_USER}@${DOC_URL} "mkdir -p public/$DOC_UPLOAD_FOLDER"
    - ssh ${DOC_USER}@${DOC_URL} "rm -rf public/$DOC_UPLOAD_FOLDER/*"
    - scp -r public/* "${DOC_USER}@${DOC_URL}:public/$DOC_UPLOAD_FOLDER"
    - echo "Documentation accessible at https://$DOC_URL/$DOC_UPLOAD_FOLDER/index.html"
#  only:
#    - qudev_master
#    - /^Proj\/.*$/
#    - /^doc\/.*$/
  needs:
    - pages
