jupyter
jupyter_contrib_nbextensions
numpy
matplotlib
scipy
sympy
cython
PyQt6
tensorflow
pandas
pyyaml
psutil
scikit-learn
neupy
lmfit
more_itertools
requests
zhinst
pyqtgraph
qutip
pyvisa
pyserial
nidaqmx
pylint
plotly
sphinx==5.0.2
sphinx-rtd-theme
myst-parser