jupyter
jupyter_contrib_nbextensions
numpy
matplotlib
scipy
sympy
cython
pyqt5
tensorflow==1.13.2
pandas
pyyaml
psutil
scikit-learn
neupy
lmfit
more_itertools
requests
zhinst
pyqtgraph
qutip
# current version of Qcodes seems not to support pyvisa 1.11.x
pyvisa==1.9.1
pyserial
nidaqmx
pylint
plotly
sphinx
sphinx-rtd-theme
myst-parser